.pdpNav{
	font-size: 1.2rem;
	margin: 20px 0;
	padding: 16px;
	border-top: 1px solid #e1e1e1;
	background-color: #eee;
	margin-bottom: 20px;
}
.pdpNav a{
	color: #333;
	text-decoration: none;
}
.pdpNav a:hover{
	text-decoration: underline;
	color: #111;
}

.content-wrapper {
	max-width: 800px;
	margin: 30px auto;
	background-color: #efefef;
	padding: 30px;
	font-size: 16px;
	text-align: center;
}

.content-wrapper span{
	margin: 5px;
}

.content-wrapper table {
	margin: auto;
}
table tr.head{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
table td{
	min-width: 160px;
	padding: 8px;
}
.content-wrapper h1{
	color: #444;
	font-size: 1.4em;
}

.content-wrapper h2{
	color: #444;
	font-size: 1.1em;
}