:root{
	--featured-banner-height-lg: 34rem;
	--mini-banner-height-lg: 17rem;

	--featured-banner-height-sm: 20rem;
	--mini-banner-height-sm: 20rem;
}

/* Navbar*/
nav .brand img{
	height: 8rem;
}


/*Content Wrapper*/

@media (min-width: 768px) {
	.page-content{
		width: 95%;
		margin: auto;
	}
}

@media (max-width: 768px) {
	.page-content{
		width: 100%;
		margin: auto 0.8rem;
	}
}

/*====================== Navabr Styles ========================*/

	.user .details {
		margin: auto 1.2rem;
	}
	.user .details .image{
		width: 40px;
		height: 40px;
		background-color: #eee;
		color: var(--primary);
		border-radius: 50%;
		font-size: 2rem;
		margin: auto 1rem;
	}

	.auth-action a{
		background-color: var(--secondary);
		margin: 0.8rem;
		text-decoration: none;
		color: #fff;
		font-size: 1.6rem;
		padding: 0.6rem 0.8rem;
		border-radius: 3px;
	}

	@media (min-width: 768px){
		nav{	
			width: 98%;
			margin: auto;
		}
		.header{
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		.navbar{
			display: flex;
			width: 70%;
			justify-content: space-between;
			align-items: center;
		}
		.user{
			display: flex;
			margin: auto 1.2rem;
		}
		.user .details{
			position: relative;
			cursor: pointer;
		}
		.user .user-menu{
			position: absolute;
			background-color: #efefef;
			padding: 10px;
			width: 90px;
			top: 30px;
			right: 0px;
			text-align: center;
			color: #333;
			display: none;
		}
		.user-menu li{
			list-style: none;
		}
		.user .details:hover .user-menu{
			display: block;
		}
		.user-menu a{
			text-decoration: none;
			font-size: 1.5rem;
		}
		.user .username{
			font-size: 1.6rem;
		}
		.user .saved-products ion-icon{
			font-size: 2.1rem;
			color: var(--primary);
			cursor: pointer;
		}
		.user .saved-products span.wishlist, .user .saved-products span.cart{
			position: relative;
			margin-right: 2.6rem;
		}
		.user .saved-products span .count{
			position: absolute;
			font-size: 01rem;
			top: -14px;
			left: 20px;
			background: var(--secondary);
			color: #fff;
			padding: 4px;
			border-radius: 50%;
			cursor: pointer;
		}
		.searchbar input{
			border: 1px solid #ccc;
			text-align: center;
			margin-right: 40px;
			width: 450px;
			padding: 10px;
			font-size: 1.4rem;
			letter-spacing: 1px;
			outline: none;
			border-radius: 16px;
			box-shadow: ;
			box-shadow: 0 4px 4px 0 #00000045;
		}
		.menu{
			display: flex;
			justify-content: space-between;
			font-size: 1.6rem;
			margin: 2rem auto;
			width: 95%;
		}
		.menu a{
			text-decoration: none;
			color: #333;
			padding-right: 1.2rem;
		}
		.menu .left a{
			font-size: 1.3em;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	@media (max-width: 767px) {
		nav{
			width: 100%;
			margin: auto 0.8rem;
		}
		nav .brand .hamburger ion-icon{
			font-size: 3rem;
			margin-right: 2rem;
			color: var(--primary);
			cursor: pointer;
		}
	}

/*=====================Navbar Styles End ======================*/


/*==================Banner Styles Start=======================*/

.banner-gallery{
	width: 100%
}
.banner{
	border-radius: 0.8rem;
	margin: 0.8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}
.featured.banner{
	background-image: linear-gradient(to right, #36808F, #36808F);
}

.left .mini.banner:nth-of-type(1){
	background-image: linear-gradient(to right, #D6212E, #D6212E, #E34B55, #E86C74)
}
.left .mini.banner:nth-of-type(2){
	background-image: linear-gradient(to right, #7C8DEB, #7C8DEB, #A4AFF1, #B3BDF4)
}
.right .mini.banner:nth-of-type(1){
	background-image: linear-gradient(to right, #6bb36b, #6bb36b, #99ff99, #ccffcc)
}
.right .mini.banner:nth-of-type(2){
	background-image: linear-gradient(to right, #A77EE5, #A77EE5, #BC9CEB, #C1A4ED)
}
.right .mini.banner:nth-of-type(3){
	background-image: linear-gradient(to right, #D3DC50, #D3DC50, #E6EB9C, #ECF0B3)
}

.banner .content{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-height: 95%;
	min-height: 70%;
	margin-bottom: 1.2rem;
	padding: 1.2rem;
}
.banner img{
	height: 85%;
	width: 45%;
	object-fit: contain;
}
.banner h3, .banner h2{
	margin: 0.4rem 0;
}
.banner p{
	text-align: justify;
	margin-top: 0.4rem;
	margin-bottom: 1.2rem;
	font-size: 1.2rem;	
	padding-right: 0.8rem;
	width: 90%;
}
.banner .content button{
	margin-top: auto;
	margin-right: auto;
	padding: 0.6rem 1.6rem;	
}
.featured.banner button {
	color: #fff;
	background-color: #ed1252;

}
/*large screens*/
@media (min-width: 768px) {
	.banner-gallery{
		display: flex;
	}
	.banner-gallery .left{
		width: 70%;
	}
	.banner-gallery .right{
		width: 30%;
	}
	.banner-gallery .featured-mini{
		display: flex;
	}
	.featured-mini .banner{
		width: 50%
	}
	.featured.banner{
		height: var(--featured-banner-height-lg);
	}
	.mini.banner{
		height: var(--mini-banner-height-lg);
	}
	.featured.banner h2{
		margin: 1.6rem 0;
	}
	.featured.banner button{
		margin-top: 3rem;
	}
	.featured.banner p{
		font-size: 1.4rem;
	}
	.featured.banner button{
		font-size: 1.6rem;
		padding: 1.2rem 3rem;
	}
	.mini.banner button{
		font-size: 0.9rem;
	}
}


/*small screens*/
@media (max-width: 767px) {
	.banner-gallery .left{
		width: 100%;
	}
	.banner-gallery .right{
		width: 100%;
	}
	.featured.banner{
		min-height: var(--featured-banner-height-sm);
		max-height: 40rem;
	}
	.mini.banner{
		height: var(--mini-banner-height-sm);
	}
}


/*============================================================*/
/*====================Banner Styles End=======================*/
/*============================================================*/


/*====================== Slider Section =======================*/


@media (min-width: 768px) {
	.slider {
		margin: 60px auto;
	}	
}

@media (max-width: 767px) {
	.slider {
		margin: 30px auto;
	}	
}










/*====================== Slider Section End ==================*/


/*============================================================*/
/*=================Product Comonent Style=====================*/
/*============================================================*/

.product{
	width: 251px;
	border: 1px solid #eee;
	border-radius: 6px;
	color: #444;
	margin: 0.5rem 2.5rem;
	display: flex;
	flex-direction: column;
	position: relative;
	cursor: pointer;
	box-shadow: 3px 3px 5px 2px #ccc;
}
.product img{
	width: 250px;
	height: 200px;
	margin: auto;
	object-fit: cover;
	border-bottom: none;
	transform: scale(0.6);
}


.product .product-details{
	padding: 1rem;
	padding-bottom: 0.5rem;
	background: #36808f1a;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	margin-top: auto;
}
.product .product-name{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.8rem;
	/*font-weight: 600;*/
}
.product .product-description{
	margin: 0.3rem 0;
}
.product .product-price{
	font-size: 1.4rem;
	font-weight: bold;
	margin: 1.2rem 0;
}

.product .add-to-wishlist {
	background-color: var(--secondary);
	font-size: 1.3rem;
	font-weight: bold;
	margin-left: 8px;
	padding: 5px;
	text-align: center;
	line-height: 1.3rem;
	top: 10px;
	right: 10px;
	color: #fff;
	border-radius: 50%;
}

.product .add-to-bag {
	background-color: var(--primary);
	color: #fff;
	margin: 1.2rem 0;
}

.product button i{
	font-size: 1rem;
	margin-right: 1rem;
}

.discount{
	position: absolute;
	top:10px;
	left: 0;
}
.product .badge{ 
	position: absolute;
    height: 0px; 
    width: 80px; 
    color: #fff; 
    -webkit-transform: rotate(0deg) skew(0deg); 
    border-left: 0px transparent; 
    border-top: 18px solid var(--primary); 
    border-bottom: 18px solid var(--primary); 
    border-right: 9px solid transparent; 
}
.product .info{
	position: absolute;
	color: #fff;
	z-index: +5;
	width: 80px;
	top: 3px;
	left: 8px;
}
.product .discount .info span{
	font-size: 1.2rem;
	font-weight: bold;
}
.product .discount .info span:nth-child(2){
	font-size: 1.1rem;
	text-decoration: line-through;
}

.css-shapes-preview{ 
    position: relative; 
    height: 80px; 
    width: 0px; 
    top: 11px; 
    left: 1px; 
    transform: rotate(-90deg) skew(0deg); 
    -webkit-transform: rotate(0deg) skew(0deg); 
    border-top: 0px transparent; 
    border-left: 25px solid #428BCA; 
    border-right: 25px solid #428BCA; 
    border-bottom: 10px solid transparent; 
}

/*============================================================*/
/*============== Product Comonent Style End ==================*/
/*============================================================*/