
:root{
	--primary : #36808F;
	--primary-light;
	--primary-lighter;
	--primary-dark;
	--primary-darker;
	--primary-text-dark: #111;
	--primary-text-light: #fff;

	--secondary: #ed1252;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700;900&family=Source+Sans+Pro:wght@200;300;400&display=swap');

*{
	box-sizing: border-box;
}

html{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 10px;
	letter-spacing: 1px;
	padding: 0px;
}
body{
	margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6{
	font-family: 'Montserrat', sans-serif;
}

h1{
	font-size: 3.6rem
}
h2{
	font-size: 2.8rem
}
h3{
	font-size: 1.8rem
}
h4{
	font-size: 1.5rem
}
h5{
	font-size: 1.2rem
}
h6{
	font-size: 1rem
}
.flex{
	display: flex;
}

.flex-wrap{
	flex-wrap: wrap;
}
.flex-direction-column{
	flex-direction: column;
}
.justify-content-center{
	justify-content: center;
}
.justify-content-space-between{
	justify-content: space-between;
}
.align-items-center{
	align-items: center;
}
.align-items-end{
	align-items: flex-end;
}

button{
	padding: 6px 12px;
	border-radius: 6px;
	border: 0px;
	cursor: pointer;
}

.slick-prev::before, .slick-next::before {
	color: var(--primary)
}

@media (min-width: 768px) {
	.hide-lg{
		display: none;
	}
	/*.show-lg{
		display: block;
	}*/
}

@media (max-width: 768px) {
	.hide-sm {
		display: none;
	}
	/*.show-sm {

	}*/
}
